 
.side-bar{
    position:fixed;
    top:55px;
    bottom:0px;
    left:0px;
    width:76px;
    padding-top:20px;
    padding-bottom:20px;
    background-color: white;
    z-index: 200;
  }
  
  .side-bar-link:hover{
    background-color:rgb(241, 241, 241);
  }
  .side-bar img{
  
    height:24px;
    margin-bottom:4px;
    
  }
  
  
  .side-bar-link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height:76px;
    font-family:Roboto,arial;
    font-size:10px;
    cursor: pointer;
    
  }
  